.container{
    text-align: center;
    padding-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    min-height: 500px;
    position: relative;
  }

  .Certificates_Container h1 {
    font-size: 40px;
  }

  .cert_inner_container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .cert_list {
    padding-left: 0;
    list-style: none;
    width: 2000px;
    display: flex;
  }
  
  .cert_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cert_card>.blur {
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    height: 90%;
    border-radius: 5%;
    overflow: hidden;
    color: whitesmoke;
  }

  .cert_card>.blur:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  .cert_card>img {
    border-radius: 5%;
    overflow: hidden;
    max-width: 90%;
    height: 90%;
    display: block;
  }

  .cert_pagenation {
    width: 350px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cert_page {
    cursor: pointer;
    width: 75px;
    height: 15px;
    background: white;
    font-size: 12px;
  }

  .cert_pages {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cert_page.now {
    background: #b1cfeb;;
  }