.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e0e0e0;
  width: 100%;
  font-size: 1.6rem;
  box-shadow: 0px 4px 4px -4px gray;
  z-index: 100;
}

.big-size-menu, .small-size-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
}

.big-size-menu li a , .small-size-menu li a{
	display: block;
	color: #000000;
	padding: 15px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.big-size-menu li a:hover, .small-size-menu li a:hover {
	background-color: #666;
	color: white;
}

.small-size-menu{
	display: none;
}

@media only screen and (max-device-width: 480px), (max-width: 600px) {
	.big-size-menu{
		display: none;
	}
	.small-size-menu{
		display: flex;
	}
}